<footer>
  <div id="footer" class="container">
     <div class="row">
      {% if informations %}
      
      
      
          {{footer_right}}
   

            {% endif %}
     {#<div class="col-sm-3 column">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
        </ul>
      </div>

      <div class="col-sm-3 column">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      #}

       <div class="col-sm-3 column">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
		  
          {% endfor %}
		   <li><a href="{{ account }}">{{ text_account }}</a></li>
        </ul>
      </div>
      
         <div class="col-sm-3 column">
         {{footer_left}}
      </div>
       
 <div class="col-sm-3 column">
         <h5>Галерея</h5>
        {{galereya}}
      </div>
    

    </div>
   

                
  </div>
    <div class="copy-right container">
  
  <div id="bottom-footer">
 {# <ul class="list-unstyled">
    <li><a href="{{ special }}">{{text_special}}</a></li><li><a href="{{ affiliate }}">{{text_affiliate}}</a></li><li><a href="{{ voucher }}">{{text_voucher}}</a></li><li><a href="{{ manufacturer }}">{{text_manufacturer}}</a></li><li><a href="{{ return }}">{{text_return}}</a></li><li><a href="{{ sitemap }}">{{text_sitemap}}</a></li><li class="contact"><a href="{{ contact }}">{{text_contact}}</a></li>
  </ul>#}
  </div>
  {{footer_bottom}}
    
  </div>
  		

    
      <div id="powered">{{ powered }}</div>

</footer>




{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//--> 
<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
</body></html>